/*
* @Author: WHX
* @Date:   2018-08-17 00:05:55
* @Last Modified by:   WHX
* @Last Modified time: 2018-08-17 09:35:47
*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}
body{
	background: #f4f4f4;
}
header{
	height:0.88rem ;
	width: 100%;
	background: linear-gradient(to right,#f91a59,#fc4343);
	padding: 0 0.24rem;
	padding-top: 0.21rem;
	display: flex;
	flex-direction: row;
 
	/* position: fixed; */
}
header .left img{
	width: 0.24rem;
	height: 0.43rem;
	display: block;
	margin-right: 1.6rem;
}
header .pic img{
	width: 3.42rem;
	height: 0.44rem;
	display: block;
}
.picture{
	display: flex;
	
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.bank{
	width: 6.22rem;
	height: 1.14rem;
	display: block;
	margin: 0.24rem 0 0.3rem 0 ;
}
.picture .pic1{
	width: 3.07rem;
	height: 0.96rem;
	display: block;
}
.picture .pic2{
	width: 5.66rem;
	height: 0.04rem;
	display: block;
	margin-top: 0.4rem;
}
.picture .pas{
	display: flex;
	flex-direction: row;
}
.picture .pas a{
	margin-top: -0.38rem;
}
.picture input{
	width: 0.5rem;
	height: 0.4rem;
	background: #f4f4f4;
	border: none;
	border-bottom: 0.03rem solid #aaaaaa;
	margin-top: 0.4rem;
	margin-left: 0.1rem;
	text-align: center;
}
.picture .keyboard{
	width: 5.92rem;
	height: 6.58rem;
	display: block;
	margin-top: 0.57rem;
}
